//////////////////////////////////////////////////
// text and bg
//////////////////////////////////////////////////
.text-white {
color: $white !important;
}

.text-body {
color: $black !important;
}

.text-muted {
color: $gray-500 !important;
}

.text-black-50 {
color: rgba($black, 0.5) !important;
}

.text-white-50 {
color: rgba($white, 0.5) !important;
}

.text-reset {
color: inherit !important;
}


.bg-primary {
background-color: $blue !important;
}

.bg-secondary {
background-color: $gray-600 !important;
}

.bg-success {
background-color: $green !important;
}

.bg-info {
background-color: $cyan !important;
}

.bg-warning {
background-color: $yellow !important;
}

.bg-danger {
background-color: $red !important;
}

.bg-light {
background-color: $gray-100 !important;
}

.bg-dark {
background-color: $gray-800 !important;
}

.bg-white {
background-color: $white !important;
}

.bg-transparent {
background-color: transparent !important;
}

//////////////////////////////////////////////////
// variavle
//////////////////////////////////////////////////
.w-33 {
width: 33.33333% !important;
}
.h-33 {
height: 33.33333% !important;
}
.m-5 {
margin: 2rem !important;
}
.m-6 {
margin: 2.5rem !important;
}
.m-7 {
margin: 3rem !important;
}
.mx-5 {
margin-right: 2rem !important;
margin-left: 2rem !important;
}
.mx-6 {
margin-right: 2.5rem !important;
margin-left: 2.5rem !important;
}
.mx-7 {
margin-right: 3rem !important;
margin-left: 3rem !important;
}

.my-5 {
margin-top: 2rem !important;
margin-bottom: 2rem !important;
}
.my-6 {
margin-top: 2.5rem !important;
margin-bottom: 2.5rem !important;
}
.my-7 {
margin-top: 3rem !important;
margin-bottom: 3rem !important;
}

.mt-5 {
margin-top: 2rem !important;
}
.mt-6 {
margin-top: 2.5rem !important;
}
.mt-7 {
margin-top: 3rem !important;
}

.mr-5 {
margin-right: 2rem !important;
}
.mr-6 {
margin-right: 2.5rem !important;
}
.mr-7 {
margin-right: 3rem !important;
}

.mb-5 {
margin-bottom: 2rem !important;
}
.mb-6 {
margin-bottom: 2.5rem !important;
}
.mb-7 {
margin-bottom: 3rem !important;
}

.ml-5 {
margin-left: 2rem !important;
}
.ml-6 {
margin-left: 2.5rem !important;
}
.ml-7 {
margin-left: 3rem !important;
}

.m-n5 {
margin: -2rem !important;
}
.m-n6 {
margin: -2.5rem !important;
}
.m-n7 {
margin: -3rem !important;
}

.mx-n5 {
margin-right: -2rem !important;
margin-left: -2rem !important;
}
.mx-n6 {
margin-right: -2.5rem !important;
margin-left: -2.5rem !important;
}
.mx-n7 {
margin-right: -3rem !important;
margin-left: -3rem !important;
}

.my-n5 {
margin-top: -2rem !important;
margin-bottom: -2rem !important;
}
.my-n6 {
margin-top: -2.5rem !important;
margin-bottom: -2.5rem !important;
}
.my-n7 {
margin-top: -3rem !important;
margin-bottom: -3rem !important;
}

.mt-n5 {
margin-top: -2rem !important;
}
.mt-n6 {
margin-top: -2.5rem !important;
}
.mt-n7 {
margin-top: -3rem !important;
}

.mr-n5 {
margin-right: -2rem !important;
}
.mr-n6 {
margin-right: -2.5rem !important;
}
.mr-n7 {
margin-right: -3rem !important;
}

.mb-n5 {
margin-bottom: -2rem !important;
}
.mb-n6 {
margin-bottom: -2.5rem !important;
}
.mb-n7 {
margin-bottom: -3rem !important;
}

.ml-n5 {
margin-left: -2rem !important;
}
.ml-n6 {
margin-left: -2.5rem !important;
}
.ml-n7 {
margin-left: -3rem !important;
}

.p-5 {
padding: 2rem !important;
}
.p-6 {
padding: 2.5rem !important;
}
.p-7 {
padding: 3rem !important;
}

.px-5 {
padding-right: 2rem !important;
padding-left: 2rem !important;
}
.px-6 {
padding-right: 2.5rem !important;
padding-left: 2.5rem !important;
}
.px-7 {
padding-right: 3rem !important;
padding-left: 3rem !important;
}

.py-5 {
padding-top: 2rem !important;
padding-bottom: 2rem !important;
}
.py-6 {
padding-top: 2.5rem !important;
padding-bottom: 2.5rem !important;
}
.py-7 {
padding-top: 3rem !important;
padding-bottom: 3rem !important;
}

.pt-5 {
padding-top: 2rem !important;
}
.pt-6 {
padding-top: 2.5rem !important;
}
.pt-7 {
padding-top: 3rem !important;
}

.pr-5 {
padding-right: 2rem !important;
}
.pr-6 {
padding-right: 2.5rem !important;
}
.pr-7 {
padding-right: 3rem !important;
}

.pb-5 {
padding-bottom: 2rem !important;
}
.pb-6 {
padding-bottom: 2.5rem !important;
}
.pb-7 {
padding-bottom: 3rem !important;
}

.pl-5 {
padding-left: 2rem !important;
}
.pl-6 {
padding-left: 2.5rem !important;
}
.pl-7 {
padding-left: 3rem !important;
}

//////////////////////////////////////////////////
// mq
//////////////////////////////////////////////////
@media (min-width: 576px) {
	.m-sm-5 {
	margin: 2rem !important;
	}
	.m-sm-6 {
	margin: 2.5rem !important;
	}
	.m-sm-7 {
	margin: 3rem !important;
	}
	.mx-sm-5 {
	margin-right: 2rem !important;
	margin-left: 2rem !important;
	}
	.mx-sm-6 {
	margin-right: 2.5rem !important;
	margin-left: 2.5rem !important;
	}
	.mx-sm-7 {
	margin-right: 3rem !important;
	margin-left: 3rem !important;
	}
	.my-sm-5 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	}
	.my-sm-6 {
	margin-top: 2.5rem !important;
	margin-bottom: 2.5rem !important;
	}
	.my-sm-7 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
	}
	.mt-sm-5 {
	margin-top: 2rem !important;
	}
	.mt-sm-6 {
	margin-top: 2.5rem !important;
	}
	.mt-sm-7 {
	margin-top: 3rem !important;
	}
	.mr-sm-5 {
	margin-right: 2rem !important;
	}
	.mr-sm-6 {
	margin-right: 2.5rem !important;
	}
	.mr-sm-7 {
	margin-right: 3rem !important;
	}
	.mb-sm-5 {
	margin-bottom: 2rem !important;
	}
	.mb-sm-6 {
	margin-bottom: 2.5rem !important;
	}
	.mb-sm-7 {
	margin-bottom: 3rem !important;
	}
	.ml-sm-5 {
	margin-left: 2rem !important;
	}
	.ml-sm-6 {
	margin-left: 2.5rem !important;
	}
	.ml-sm-7 {
	margin-left: 3rem !important;
	}
	.m-sm-n5 {
	margin: -2rem !important;
	}
	.m-sm-n6 {
	margin: -2.5rem !important;
	}
	.m-sm-n7 {
	margin: -3rem !important;
	}
	.mx-sm-n5 {
	margin-right: -2rem !important;
	margin-left: -2rem !important;
	}
	.mx-sm-n5 {
	margin-right: -2.5rem !important;
	margin-left: -2.5rem !important;
	}
	.mx-sm-n5 {
	margin-right: -3rem !important;
	margin-left: -3rem !important;
	}
	.my-sm-n5 {
	margin-top: -2rem !important;
	margin-bottom: -2rem !important;
	}
	.my-sm-n6 {
	margin-top: -2.5rem !important;
	margin-bottom: -2.5rem !important;
	}
	.my-sm-n7 {
	margin-top: -3rem !important;
	margin-bottom: -3rem !important;
	}
	.mt-sm-n5 {
	margin-top: -2rem !important;
	}
	.mt-sm-n6 {
	margin-top: -2.5rem !important;
	}
	.mt-sm-n7 {
	margin-top: -3rem !important;
	}
	.mr-sm-n5 {
	margin-right: -2rem !important;
	}
	.mr-sm-n6 {
	margin-right: -2.5rem !important;
	}
	.mr-sm-n7 {
	margin-right: -3rem !important;
	}
	.mb-sm-n5 {
	margin-bottom: -2rem !important;
	}
	.mb-sm-n6 {
	margin-bottom: -2.5rem !important;
	}
	.mb-sm-n7 {
	margin-bottom: -3rem !important;
	}
	.ml-sm-n5 {
	margin-left: -2rem !important;
	}
	.ml-sm-n6 {
	margin-left: -2.5rem !important;
	}
	.ml-sm-n7 {
	margin-left: -3rem !important;
	}
	.p-sm-5 {
	padding: 2rem !important;
	}
	.p-sm-6 {
	padding: 2.5rem !important;
	}
	.p-sm-7 {
	padding: 3rem !important;
	}
	.px-sm-5 {
	padding-right: 2rem !important;
	padding-left: 2rem !important;
	}
	.px-sm-6 {
	padding-right: 2.5rem !important;
	padding-left: 2.5rem !important;
	}
	.px-sm-7 {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
	}
	.py-sm-5 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
	}
	.py-sm-6 {
	padding-top: 2.5rem !important;
	padding-bottom: 2.5rem !important;
	}
	.py-sm-7 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
	}
	.pt-sm-5 {
	padding-top: 2rem !important;
	}
	.pt-sm-6 {
	padding-top: 2.5rem !important;
	}
	.pt-sm-7 {
	padding-top: 3rem !important;
	}
	.pr-sm-5 {
	padding-right: 2rem !important;
	}
	.pr-sm-6 {
	padding-right: 2.5rem !important;
	}
	.pr-sm-7 {
	padding-right: 3rem !important;
	}
	.pb-sm-5 {
	padding-bottom: 2rem !important;
	}
	.pb-sm-6 {
	padding-bottom: 2.5rem !important;
	}
	.pb-sm-7 {
	padding-bottom: 3rem !important;
	}
	.pl-sm-5 {
	padding-left: 2rem !important;
	}
	.pl-sm-6 {
	padding-left: 2.5rem !important;
	}
	.pl-sm-7 {
	padding-left: 3rem !important;
	}
}//576px


//////////////////////////////////////////////////
// mq
//////////////////////////////////////////////////
@media (min-width: 768px) {
	.m-md-5 {
	margin: 2rem !important;
	}
	.m-md-6 {
	margin: 2.5rem !important;
	}
	.m-md-7 {
	margin: 3rem !important;
	}
	.mx-md-5 {
	margin-right: 2rem !important;
	margin-left: 2rem !important;
	}
	.mx-md-6 {
	margin-right: 2.5rem !important;
	margin-left: 2.5rem !important;
	}
	.mx-md-7 {
	margin-right: 3rem !important;
	margin-left: 3rem !important;
	}
	.my-md-5 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	}
	.my-md-6 {
	margin-top: 2.5rem !important;
	margin-bottom: 2.5rem !important;
	}
	.my-md-7 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
	}
	.mt-md-5 {
	margin-top: 2rem !important;
	}
	.mt-md-6 {
	margin-top: 2.5rem !important;
	}
	.mt-md-7 {
	margin-top: 3rem !important;
	}
	.mr-md-5 {
	margin-right: 2rem !important;
	}
	.mr-md-6 {
	margin-right: 2.5rem !important;
	}
	.mr-md-7 {
	margin-right: 3rem !important;
	}
	.mb-md-5 {
	margin-bottom: 2rem !important;
	}
	.mb-md-6 {
	margin-bottom: 2.5rem !important;
	}
	.mb-md-7 {
	margin-bottom: 3rem !important;
	}
	.ml-md-5 {
	margin-left: 2rem !important;
	}
	.ml-md-6 {
	margin-left: 2.5rem !important;
	}
	.ml-md-7 {
	margin-left: 3rem !important;
	}
	.m-md-n5 {
	margin: -2rem !important;
	}
	.m-md-n6 {
	margin: -2.5rem !important;
	}
	.m-md-n7 {
	margin: -3rem !important;
	}
	.mx-md-n5 {
	margin-right: -2rem !important;
	margin-left: -2rem !important;
	}
	.mx-md-n5 {
	margin-right: -2.5rem !important;
	margin-left: -2.5rem !important;
	}
	.mx-md-n5 {
	margin-right: -3rem !important;
	margin-left: -3rem !important;
	}
	.my-md-n5 {
	margin-top: -2rem !important;
	margin-bottom: -2rem !important;
	}
	.my-md-n6 {
	margin-top: -2.5rem !important;
	margin-bottom: -2.5rem !important;
	}
	.my-md-n7 {
	margin-top: -3rem !important;
	margin-bottom: -3rem !important;
	}
	.mt-md-n5 {
	margin-top: -2rem !important;
	}
	.mt-md-n6 {
	margin-top: -2.5rem !important;
	}
	.mt-md-n7 {
	margin-top: -3rem !important;
	}
	.mr-md-n5 {
	margin-right: -2rem !important;
	}
	.mr-md-n6 {
	margin-right: -2.5rem !important;
	}
	.mr-md-n7 {
	margin-right: -3rem !important;
	}
	.mb-md-n5 {
	margin-bottom: -2rem !important;
	}
	.mb-md-n6 {
	margin-bottom: -2.5rem !important;
	}
	.mb-md-n7 {
	margin-bottom: -3rem !important;
	}
	.ml-md-n5 {
	margin-left: -2rem !important;
	}
	.ml-md-n6 {
	margin-left: -2.5rem !important;
	}
	.ml-md-n7 {
	margin-left: -3rem !important;
	}
	.p-md-5 {
	padding: 2rem !important;
	}
	.p-md-6 {
	padding: 2.5rem !important;
	}
	.p-md-7 {
	padding: 3rem !important;
	}
	.px-md-5 {
	padding-right: 2rem !important;
	padding-left: 2rem !important;
	}
	.px-md-6 {
	padding-right: 2.5rem !important;
	padding-left: 2.5rem !important;
	}
	.px-md-7 {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
	}
	.py-md-5 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
	}
	.py-md-6 {
	padding-top: 2.5rem !important;
	padding-bottom: 2.5rem !important;
	}
	.py-md-7 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
	}
	.pt-md-5 {
	padding-top: 2rem !important;
	}
	.pt-md-6 {
	padding-top: 2.5rem !important;
	}
	.pt-md-7 {
	padding-top: 3rem !important;
	}
	.pr-md-5 {
	padding-right: 2rem !important;
	}
	.pr-md-6 {
	padding-right: 2.5rem !important;
	}
	.pr-md-7 {
	padding-right: 3rem !important;
	}
	.pb-md-5 {
	padding-bottom: 2rem !important;
	}
	.pb-md-6 {
	padding-bottom: 2.5rem !important;
	}
	.pb-md-7 {
	padding-bottom: 3rem !important;
	}
	.pl-md-5 {
	padding-left: 2rem !important;
	}
	.pl-md-6 {
	padding-left: 2.5rem !important;
	}
	.pl-md-7 {
	padding-left: 3rem !important;
	}
}//768px


//////////////////////////////////////////////////
// mq
//////////////////////////////////////////////////
@media (min-width: 992px) {
	.m-lg-5 {
	margin: 2rem !important;
	}
	.m-lg-6 {
	margin: 2.5rem !important;
	}
	.m-lg-7 {
	margin: 3rem !important;
	}
	.mx-lg-5 {
	margin-right: 2rem !important;
	margin-left: 2rem !important;
	}
	.mx-lg-6 {
	margin-right: 2.5rem !important;
	margin-left: 2.5rem !important;
	}
	.mx-lg-7 {
	margin-right: 3rem !important;
	margin-left: 3rem !important;
	}
	.my-lg-5 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	}
	.my-lg-6 {
	margin-top: 2.5rem !important;
	margin-bottom: 2.5rem !important;
	}
	.my-lg-7 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
	}
	.mt-lg-5 {
	margin-top: 2rem !important;
	}
	.mt-lg-6 {
	margin-top: 2.5rem !important;
	}
	.mt-lg-7 {
	margin-top: 3rem !important;
	}
	.mr-lg-5 {
	margin-right: 2rem !important;
	}
	.mr-lg-6 {
	margin-right: 2.5rem !important;
	}
	.mr-lg-7 {
	margin-right: 3rem !important;
	}
	.mb-lg-5 {
	margin-bottom: 2rem !important;
	}
	.mb-lg-6 {
	margin-bottom: 2.5rem !important;
	}
	.mb-lg-7 {
	margin-bottom: 3rem !important;
	}
	.ml-lg-5 {
	margin-left: 2rem !important;
	}
	.ml-lg-6 {
	margin-left: 2.5rem !important;
	}
	.ml-lg-7 {
	margin-left: 3rem !important;
	}
	.m-lg-n5 {
	margin: -2rem !important;
	}
	.m-lg-n6 {
	margin: -2.5rem !important;
	}
	.m-lg-n7 {
	margin: -3rem !important;
	}
	.mx-lg-n5 {
	margin-right: -2rem !important;
	margin-left: -2rem !important;
	}
	.mx-lg-n5 {
	margin-right: -2.5rem !important;
	margin-left: -2.5rem !important;
	}
	.mx-lg-n5 {
	margin-right: -3rem !important;
	margin-left: -3rem !important;
	}
	.my-lg-n5 {
	margin-top: -2rem !important;
	margin-bottom: -2rem !important;
	}
	.my-lg-n6 {
	margin-top: -2.5rem !important;
	margin-bottom: -2.5rem !important;
	}
	.my-lg-n7 {
	margin-top: -3rem !important;
	margin-bottom: -3rem !important;
	}
	.mt-lg-n5 {
	margin-top: -2rem !important;
	}
	.mt-lg-n6 {
	margin-top: -2.5rem !important;
	}
	.mt-lg-n7 {
	margin-top: -3rem !important;
	}
	.mr-lg-n5 {
	margin-right: -2rem !important;
	}
	.mr-lg-n6 {
	margin-right: -2.5rem !important;
	}
	.mr-lg-n7 {
	margin-right: -3rem !important;
	}
	.mb-lg-n5 {
	margin-bottom: -2rem !important;
	}
	.mb-lg-n6 {
	margin-bottom: -2.5rem !important;
	}
	.mb-lg-n7 {
	margin-bottom: -3rem !important;
	}
	.ml-lg-n5 {
	margin-left: -2rem !important;
	}
	.ml-lg-n6 {
	margin-left: -2.5rem !important;
	}
	.ml-lg-n7 {
	margin-left: -3rem !important;
	}
	.p-lg-5 {
	padding: 2rem !important;
	}
	.p-lg-6 {
	padding: 2.5rem !important;
	}
	.p-lg-7 {
	padding: 3rem !important;
	}
	.px-lg-5 {
	padding-right: 2rem !important;
	padding-left: 2rem !important;
	}
	.px-lg-6 {
	padding-right: 2.5rem !important;
	padding-left: 2.5rem !important;
	}
	.px-lg-7 {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
	}
	.py-lg-5 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
	}
	.py-lg-6 {
	padding-top: 2.5rem !important;
	padding-bottom: 2.5rem !important;
	}
	.py-lg-7 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
	}
	.pt-lg-5 {
	padding-top: 2rem !important;
	}
	.pt-lg-6 {
	padding-top: 2.5rem !important;
	}
	.pt-lg-7 {
	padding-top: 3rem !important;
	}
	.pr-lg-5 {
	padding-right: 2rem !important;
	}
	.pr-lg-6 {
	padding-right: 2.5rem !important;
	}
	.pr-lg-7 {
	padding-right: 3rem !important;
	}
	.pb-lg-5 {
	padding-bottom: 2rem !important;
	}
	.pb-lg-6 {
	padding-bottom: 2.5rem !important;
	}
	.pb-lg-7 {
	padding-bottom: 3rem !important;
	}
	.pl-lg-5 {
	padding-left: 2rem !important;
	}
	.pl-lg-6 {
	padding-left: 2.5rem !important;
	}
	.pl-lg-7 {
	padding-left: 3rem !important;
	}
}//992px

//////////////////////////////////////////////////
// mq
//////////////////////////////////////////////////
@media (min-width: 1200px) {
	.m-xl-5 {
	margin: 2rem !important;
	}
	.m-xl-6 {
	margin: 2.5rem !important;
	}
	.m-xl-7 {
	margin: 3rem !important;
	}
	.mx-xl-5 {
	margin-right: 2rem !important;
	margin-left: 2rem !important;
	}
	.mx-xl-6 {
	margin-right: 2.5rem !important;
	margin-left: 2.5rem !important;
	}
	.mx-xl-7 {
	margin-right: 3rem !important;
	margin-left: 3rem !important;
	}
	.my-xl-5 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
	}
	.my-xl-6 {
	margin-top: 2.5rem !important;
	margin-bottom: 2.5rem !important;
	}
	.my-xl-7 {
	margin-top: 3rem !important;
	margin-bottom: 3rem !important;
	}
	.mt-xl-5 {
	margin-top: 2rem !important;
	}
	.mt-xl-6 {
	margin-top: 2.5rem !important;
	}
	.mt-xl-7 {
	margin-top: 3rem !important;
	}
	.mr-xl-5 {
	margin-right: 2rem !important;
	}
	.mr-xl-6 {
	margin-right: 2.5rem !important;
	}
	.mr-xl-7 {
	margin-right: 3rem !important;
	}
	.mb-xl-5 {
	margin-bottom: 2rem !important;
	}
	.mb-xl-6 {
	margin-bottom: 2.5rem !important;
	}
	.mb-xl-7 {
	margin-bottom: 3rem !important;
	}
	.ml-xl-5 {
	margin-left: 2rem !important;
	}
	.ml-xl-6 {
	margin-left: 2.5rem !important;
	}
	.ml-xl-7 {
	margin-left: 3rem !important;
	}
	.m-xl-n5 {
	margin: -2rem !important;
	}
	.m-xl-n6 {
	margin: -2.5rem !important;
	}
	.m-xl-n7 {
	margin: -3rem !important;
	}
	.mx-xl-n5 {
	margin-right: -2rem !important;
	margin-left: -2rem !important;
	}
	.mx-xl-n5 {
	margin-right: -2.5rem !important;
	margin-left: -2.5rem !important;
	}
	.mx-xl-n5 {
	margin-right: -3rem !important;
	margin-left: -3rem !important;
	}
	.my-xl-n5 {
	margin-top: -2rem !important;
	margin-bottom: -2rem !important;
	}
	.my-xl-n6 {
	margin-top: -2.5rem !important;
	margin-bottom: -2.5rem !important;
	}
	.my-xl-n7 {
	margin-top: -3rem !important;
	margin-bottom: -3rem !important;
	}
	.mt-xl-n5 {
	margin-top: -2rem !important;
	}
	.mt-xl-n6 {
	margin-top: -2.5rem !important;
	}
	.mt-xl-n7 {
	margin-top: -3rem !important;
	}
	.mr-xl-n5 {
	margin-right: -2rem !important;
	}
	.mr-xl-n6 {
	margin-right: -2.5rem !important;
	}
	.mr-xl-n7 {
	margin-right: -3rem !important;
	}
	.mb-xl-n5 {
	margin-bottom: -2rem !important;
	}
	.mb-xl-n6 {
	margin-bottom: -2.5rem !important;
	}
	.mb-xl-n7 {
	margin-bottom: -3rem !important;
	}
	.ml-xl-n5 {
	margin-left: -2rem !important;
	}
	.ml-xl-n6 {
	margin-left: -2.5rem !important;
	}
	.ml-xl-n7 {
	margin-left: -3rem !important;
	}
	.p-xl-5 {
	padding: 2rem !important;
	}
	.p-xl-6 {
	padding: 2.5rem !important;
	}
	.p-xl-7 {
	padding: 3rem !important;
	}
	.px-xl-5 {
	padding-right: 2rem !important;
	padding-left: 2rem !important;
	}
	.px-xl-6 {
	padding-right: 2.5rem !important;
	padding-left: 2.5rem !important;
	}
	.px-xl-7 {
	padding-right: 3rem !important;
	padding-left: 3rem !important;
	}
	.py-xl-5 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
	}
	.py-xl-6 {
	padding-top: 2.5rem !important;
	padding-bottom: 2.5rem !important;
	}
	.py-xl-7 {
	padding-top: 3rem !important;
	padding-bottom: 3rem !important;
	}
	.pt-xl-5 {
	padding-top: 2rem !important;
	}
	.pt-xl-6 {
	padding-top: 2.5rem !important;
	}
	.pt-xl-7 {
	padding-top: 3rem !important;
	}
	.pr-xl-5 {
	padding-right: 2rem !important;
	}
	.pr-xl-6 {
	padding-right: 2.5rem !important;
	}
	.pr-xl-7 {
	padding-right: 3rem !important;
	}
	.pb-xl-5 {
	padding-bottom: 2rem !important;
	}
	.pb-xl-6 {
	padding-bottom: 2.5rem !important;
	}
	.pb-xl-7 {
	padding-bottom: 3rem !important;
	}
	.pl-xl-5 {
	padding-left: 2rem !important;
	}
	.pl-xl-6 {
	padding-left: 2.5rem !important;
	}
	.pl-xl-7 {
	padding-left: 3rem !important;
	}
}//1200px